* {
  margin: 0;
  padding: 0;
  background-color: #232323;
}

canvas{
  background-color: white;
  border: solid white 1px;
  border-radius: 1rem;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}